<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Home - FriendFinder
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700")
        link(rel="stylesheet", href="/style.css")
    body(class="lato")
        header
            div(class="header container")
                div
                    h1 FriendFinder
                div
                    a(class="",href="/") Home
                    a(class="",href="/survey") Survey
                    a(class="",href="/api/friends") API
        section
            div(class="container text_center")
                h2 Welcome To FriendFinder
                br
                br
                br
                br
                a(href="/survey")
                    button(class="submitbutton") Go To Survey